{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}M3rcury - Sent{% endblock %}
{% block page_content %}
<section id="confirm">
    <div class="heading text-center">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="200" height="85">
        <h1>Wow!</h1>
        <p>
            <h2>Mail Accepted</h2>
            <br/>
            Check the links below for more information
            <br/>
            <h3><a href="{{ url_for('main.mail_details', id=mail_id) }}">Details</a></h3>
            <br/>
            <h3><a href="{{ url_for('main.events_details', id=mail_id) }}">Status</a></h3>
        </p>
    </div>
    {{ Location }}
</section>
{% endblock %}